<%= render 'layouts/page_header' %>

<!-- Opciones para mostrar conversaciones -->
<div class="col-md-3">
  <%= render 'left_messages_index' %>
</div>
<!-- Fin Opciones -->

<!-- Conversaciones -->
<div class="col-md-9">

  <!-- Buscador de mensajes -->
  <%= render 'search_messages' %>
  <!-- FIN Buscador de mensajes -->

  <!-- Orden mensajes -->
  <div class="conversations-order pull-right">
    <small>
      Ordernar por:
      <%= link_to "Nuevos", messages_path(show: @show, order: 'desc') %>,
      <%= link_to 'Antiguos', messages_path(show: @show, order: 'asc') %>,
      <%= link_to 'Asunto (asc)', messages_path(show: @show, order: 'subject_asc') %>,
      <%= link_to 'Asunto (des)', messages_path(show: @show, order: 'subject_desc') %>
    </small>
  </div>
  <!-- FIN Orden mensajes -->

  <!-- Mensajes totales -->
  <div class="conversations-count">
    <small>
      Mensajes totales: <strong><%=  @conversations ? @conversations.size : 0 %></strong>
    </small>
  </div>
  <!-- FIN Mensajes totales -->

  <!-- Conversaciones -->
  <% if any_conversation? %>
    <ul class="conversations-container list-unstyled">

      <% @conversations.each do |conversation| %>
        <!-- Conversación -->
        <%= render "conversation", conversation: conversation %>
        <!-- Fin Conversación -->
      <% end %>
    </ul>
  <% else %>
    <p class="no-data text-center" style="width: 100%;">No tienes ningún mensaje</p>
  <% end %>
</div>
<!-- Fin Conversaciones -->
