<%= render 'layouts/page_header' %>

<!-- Opciones para mostrar conversaciones -->
<div class="col-md-3">
  <%= render 'left' %>
</div>
<!-- Fin Opciones -->

<!-- Conversaciones -->
<div class="col-md-9">

  <!-- Buscador de mensajes -->
  <%= render 'search_messages' %>
  <!-- FIN Buscador de mensajes -->

  <!-- Orden mensajes -->
  <div class="conversations-order">
    <small>
      Ordernar por: <%= link_to "Nuevos", '#' %>,
      <%= link_to 'Antiguos', '#' %>,
      <%= link_to 'Nombres (asc)', '#' %>,
      <%= link_to 'Nombres (des)', '#' %>,
      <%= link_to 'Mensajes (asc)', '#' %>,
      <%= link_to 'Mensajes (des)', '#' %>
    </small>
  </div>
  <!-- FIN Orden mensajes -->

  <% if any_conversation? %>
    <ul class="conversations-container list-unstyled">

      <% @conversations.each do |conversation| %>
        <% recipent = conversation_recipent conversation %>
        <!-- Conversación -->
        <li class="conversation clearfix" data-conversation='<%= conversation.id %>'>
          <!-- Conversación zona izquierda -->
          <div class="conversation-left pull-left">
            <div class="recipent-avatar pull-left">
              <%= image_tag recipent.conversation_avatar,
                class: ['image-responsive', 'img-circle', 'gap-right', 'gap-bottom'], alt: recipent.name %>
            </div>
            <div class="recipent-container pull-left">
              <div class="recipent">
                <%= link_to recipent.name, user_path(recipent) %>
              </div>
              <div class="subject">
                <%= conversation.subject %>
              </div>
            </div>
          </div>
          <!-- FIN Conversación zona izquierda -->

          <!-- Conversación zona derecha -->
          <div class="conversation-right pull-right">
            <div class="conversation-data">
              <div class="conversation-messages">
                <span class="badge<%= unread_class conversation %>">
                  <%= conversation.messages_count %>
                </span>
              </div>
              <div class="conversation-time">
                <%= time_ago_in_words conversation.updated_at %>
              </div>
            </div>
          </div>
          <!-- FIN Conversación zona izquierda -->
        </li>
        <!-- Fin Conversación -->
      <% end %>
    </ul>
  <% else %>
    <p class="no-data text-center" style="width: 100%;">No tienes ningún mensaje</p>
  <% end %>
</div>
<!-- Fin Conversaciones -->
