<%= render "layouts/page_header" %>

<!-- Opciones para mostrar conversaciones -->
<div class="col-md-3">
  <%= render 'left_messages_index' %>
</div>
<!-- Fin Opciones -->

<div class="col-sm-9 messages-container">

  <h2 class="message-subject"><%= @conversation.subject %></h2>

  <!-- Datos de la conversación -->
  <div class="message-data row">
    <div class="col-sm-6 gap-left gap-top text-left">
      <% recipent = conversation_recipent @conversation %>
      Entre <strong><%= link_to recipent.name, user_path(recipent) %></strong> y <strong><%= link_to 'Tú', user_path(current_user) %></strong>
    </div>
    <div class="col-sm-offset-2 col-sm-3 pull-right gap-right">
      <%= link_to "Volver a conversaciones", messages_path, class: 'btn btn-default', type: 'button' %>
    </div>
  </div>
  <!-- Fin Datos de la conversación -->


  <!-- Mensajes -->
  <ul class="messages list-unstyled gap-top">
    <!-- Enviar nuevo mensaje -->
    <% if @conversation.regular.any? %>
    <li class="message">
      <div class="message-header">
        <div class="author-avatar pull-left">
          <%= image_tag @user.conversation_avatar,
            class: ['image-responsive', 'gap-right', 'gap-bottom'], alt: @user.name %>
        </div>
        <div class="author">
          <strong><%= link_to "Yo", user_path(@user) %></strong>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="message-body">
        <%= simple_form_for @conversation, url: message_path(@conversation), html: {class: 'col-sm-12'} do |f| %>
          <%= f.simple_fields_for @conversation.messages.build(author: current_user) do |sf| %>
            <%= sf.input :body, label: false, placeholder: 'Escribe aquí tu mensaje...' %>
            <%= sf.input :author_id, as: :hidden %>
          <% end %>
          <%= f.button :submit, "Enviar mensaje", id: 'send_message', class: 'btn-sm btn-primary gap-bottom' %>
        <% end %>
      </div>

      <div class="clearfix"></div>
    </li>
    <% end %>
    <!-- END Enviar nuevo mensaje -->

    <% @messages.each do |message| %>
      <% author = message.author %>
      <!-- Mensaje -->
      <li class="message">

        <!-- Cabecera Mensaje-->
        <div class="message-header">
          <div class="author-avatar pull-left">
            <%= image_tag author.conversation_avatar,
              class: ['image-responsive', 'gap-right', 'gap-bottom'], alt: author.name %>
          </div>

          <!-- Cabecera Derecha -->
          <div class="message-time pull-right">
            <small><%= time_ago_in_words message.created_at %></small>
          </div>
          <!-- END Cabecera Mensaje zona derecha -->

          <div class="author">
            <strong><%= link_to author.name, user_path(author) %></strong>
          </div>
        </div>
        <!-- END Cabecera Mensaje -->
        <div class="clearfix"></div>
        <!-- Cuerpo Mensaje -->
        <div class="message-body">
          <%= message.body%>
        </div>
        <!-- END Cuerpo Mensaje -->
      </li>
      <!-- END Mensaje -->
    <% end %>
  </ul>
  <!-- END Mensajes -->
</div>
