
<div class="profile-container">
  <div class="avatar-container">
    <%= image_tag @user.avatar, alt: @user.name, class: ['img-responsive'] %>
  </div>
  <div class="leftbar-name">
    <%= @user.name %> <small><%= @user.type %></small>
  </div>
  <div class="location-container"><%= @user.location %></div>
  <hr> <!-- END: Profile Main Data -->

  <% unless is_current_user? %>
  <div class="options-container">
    <div class="row">
      <button type="button" class="option-button btn btn-default col-md-2 col-md-offset-1 gap-right"
        title="Enviar mensaje">
        <span class="option-button-icon"><%= fa_icon 'envelope' %></span>
      </button>

      <% if current_user.following? @user %>
      <button type="button" class="option-button btn btn-default col-md-2 gap-right"
        title="Deja de seguir a <%= @user.name %>">
        <span class="option-button-icon"><%= fa_icon 'eye-slash' %></span>
      </button>
      <% else %>
      <button type="button" class="option-button btn btn-default col-md-2 gap-right"
        title="Sigue a <%= @user.name %>">
        <span class="option-button-icon"><%= fa_icon 'eye' %></span>
      </button>
      <% end %>

      <% if current_user.band? && !@user.musician? %>
        <% if current_user.profile.member? @user.profile %>
          <button type="button" class="option-button btn btn-default col-md-2 gap-right"
            title="Eliminar del grupo">
            <span class="option-button-icon"><%= fa_icon 'user-minus' %></span>
          </button>
        <% else %>
          <button type="button" class="option-button btn btn-default col-md-2 gap-right"
            title="Agregaral grupo">
            <span class="option-button-icon"><%= fa_icon 'user-plus' %></span>
          </button>
        <% end %>
      <% elsif current_user.musician? && !@user.band? %>
        <% if current_user.profile.member? @user.profile %>
          <button type="button" class="option-button btn btn-default col-md-2 gap-right"
            title="Eliminarte del grupo">
            <span class="option-button-icon"><%= fa_icon 'user-minus' %></span>
          </button>
        <% else %>
          <button type="button" class="option-button btn btn-default col-md-2 gap-right"
            title="Agregarte al grupo">
            <span class="option-button-icon"><%= fa_icon 'user-plus' %></span>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @user.social_networks? %>
  <div class="contact-container">
    <div class="leftbar-name">Contacto</div>
    <div class="social-networks-container" role="group">
      <div class="row">
        <% @user.social_networks.each do |social_network| %>
          <button type="button" title="<%= social_network.name %>"
            class="social-network <%= social_network.name %> btn btn-default col-md-2" >
            <%= link_to fa_icon(social_network.icon), social_network.formatted_url %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <% end %> <!-- END: Social Networks Data -->

  <% if @user.images? %>
  <div class="images-container">
    <div class="leftbar-name">Imágenes</div>
  </div>
  <% end %> <!-- END: Images Data -->

  <% if @user.membership? %>
  <div class="member-container">
    <div class="member-header leftbar-name"><%= @user.member_header %></div>
  </div>
  <% end %> <!-- END: Membership Data -->

</div>
