<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :post %>
    <%= f.association :user %>
    <%= f.input :cuerpo %>
    <%= f.input :editado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
