<% page_title @page %>

<div class="row">
  <div class="col-md-9">

    <!-- Page Header -->
    <%= render 'layouts/page_header' %>
    <!-- END Page Header -->

    <!-- Followers Container -->
    <% if @user.followers? %>
    <div class="followships-index-container">
      <!-- Followers Headers -->
      <div class="followships-header">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="col-sm-offset-1">Seguidores <span class="badge"><%= @followers.size %></span></h3>
          </div>
        </div>
      </div>
      <!-- END Followers Headers -->

      <!-- Total Followers -->
      <div class="followships-count col-sm-12 gep-top">
        <div class="small page-info text-right">
          <%= page_entries_info @followers, entry_name: (@followers.total_count > 1 ? 'usuarios' : 'usuarios') %>
        </div>
      </div>
      <!-- END Total Followers -->

      <!-- Followers -->
      <div class="row">
        <div class="col-sm-12">
          <% @followers.each do |follower| %>

            <!-- Follower -->
            <div class="col-sm-2">
              <div class="image-index-thumb">
                <!-- Followers Avatar Thumb -->
                <%= link_to user_path(follower), title: follower.name, data: {toggle: 'tooltip', placement: 'bottom'} do %>
                  <%= image_tag follower.avatar_url(:index_2), alt: follower.name, class: 'img-responsive' %>
                <% end %>
                <!-- END Followers Avatar Thumb -->
              </div>
            </div>
            <!-- END Follower -->

          <% end %>
        </div>
      </div>
      <!-- END Followers -->
    </div>
    <% end %>
    <!-- END Followers Container -->

    <!-- FOllowships Actions -->
    <div class="image-index-actions col-sm-12">
      <%= link_to "Volver", user_path(@user), class: 'btn btn-md btn-default image-index-action' %>

      <div class="pagination-container pull-right">
        <div class="paginator"><%= paginate @followers %></div>
      </div>
    </div>
    <!-- END FOllowships Actions -->
  </div>

  <div class="col-md-3">
    <%= render 'right' %>
  </div>
</div>
