
<div class="user-show-container">
  <div class="leftbar-name">Calendario <span class="badge"><%= @user.events.size %></span></div>
  <% if @user.events? %>
  <table class="table table-bordered table-condensed table-hover user-events">
    <tbody>
      <% @user.events_in_show(5).each do |event| %>
        <tr class="event">
          <td>

            <div class="col-sm-2 event-user-date">
              <div class="row month">
                <%= event.month(:abbr) %>
              </div>
              <div class="row">
                <div class="day">
                  <%= event.day %>
                </div>
              </div>
            </div>

            <div class="col-sm-10 event-user-data">
              <div class="event-user-header">
                <%= link_to event.name, user_event_path(user_id: event.creator_id, id: event.id) %>
                <small class="event-user-type"><%= event.type %></small>
              </div>
              <small class="event-user-location"><%= event.location_city %></small>
            </div>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p class="gap-left gap-bottom">No hay ningún evento.</p>
  <% end %>

  <% if is_current_user? || @user.events? %>
    <div class="row">
      <div class="user-links col-sm-12">
        <%= link_to 'Ver todos', user_events_path(user_id: @user.id),
          class: 'btn btn-block btn-sm btn-default gap-top text-muted' %>
      </div>
    </div>
  <% end %>
</div>
