
<% if @user.leaders? %>
  <div class="user-show-container">
    <div class="leftbar-name">Siguiendo a... <span class="badge"><%= @user.leaders.size %></span></div>

    <div class="followships-container">
      <div class="no-gutter">
        <% @user.leaders.first(12).each do |leader| %>
          <div class="followships-user no-gutter-sm-3">
            <%= link_to user_path(leader), title: leader.name do %>
              <%= image_tag leader.avatar_url(:thumb), alt: leader.name, class: ['img-border','img-responsive'] %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="user-links col-sm-12 text-muted">
        <%= link_to 'Ver todos', user_leaders_path(user_id: @user),
          class: 'btn btn-block btn-sm btn-default gap-top ' %>
      </div>
    </div>
  </div>
<% end %>

<% if @user.followers? %>
  <div class="user-show-container">
    <div class="leftbar-name">Seguidores <span class="badge"><%= @user.followers.size %></span></div>

    <div class="followships-container no-gutter">
      <% @user.followers.first(12).each do |follower| %>
      <div class="followships-user no-gutter-sm-3">
        <%= link_to user_path(follower), title: follower.name do %>
          <%= image_tag follower.avatar_url(:thumb), alt: follower.name, class: ['img-border','img-responsive'] %>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="row">
      <div class="user-links col-sm-12 text-muted">
        <%= link_to 'Ver todos', user_followers_path(user_id: @user),
          class: 'btn btn-block btn-sm btn-default gap-top ' %>
      </div>
    </div>
  </div>
<% end %>
