<div class="user-show-container">
  <div class="leftbar-name">Imágenes <span class="badge"><%= @user.images.size %></span></div>

  <div class="images-container">
    <% if @user.images? %>
      <div class="image-user-row">
        <% @user.images.order(id: :desc).first(12).each do |image| %>
        <div class="image-user">
          <%= link_to user_image_path(user_id: @user, id: image) do %>
            <%= image_tag image.image_url(:thumb), alt: image.title, class: ['img-border','img-responsive'] %>
          <% end %>
        </div>
        <% end %>
      </div>
    <% else %>
      <p class="gap-left">No hay ninguna imagen.</p>
    <% end %>
  </div>

  <% if !is_current_user? && @user.images? %>
    <div class="row">
      <div class="user-links col-sm-12 text-muted">
        <%= link_to 'Ver todas', user_images_path(user_id: @user),
          class: 'btn btn-block btn-sm btn-default gap-top ' %>
      </div>
    </div>
  <% elsif is_current_user? %>
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group btn-group-sm btn-group-justified" role="group">
          <%= link_to 'Nueva imagen', new_image_path, class: 'btn btn-default', role: 'button' %>
          <%= link_to 'Ver todas', user_images_path(user_id: @user.id), class: 'btn btn-default', role: 'button' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
