
<% unless is_current_user? %>
<div class="options-container user-show-container">
  <div class="row">
    <%= link_to fa_icon('envelope'), new_message_path(to_user: @user.id),
      class: 'option-button-icon option-button btn btn-default col-md-2 col-md-offset-1 gap-right',
      title: "Enviar mensaje", data: {toggle: 'tooltip', place: 'top'} %>

    <% if current_user.following? @user %>
    <button type="button" class="option-button btn btn-default col-md-2 gap-right"
      title="Deja de seguir a <%= @user.name %>">
      <span class="option-button-icon"><%= fa_icon 'eye-slash' %></span>
    </button>
    <% else %>
    <button type="button" class="option-button btn btn-default col-md-2 gap-right"
      title="Sigue a <%= @user.name %>">
      <span class="option-button-icon"><%= fa_icon 'eye' %></span>
    </button>
    <% end %>

    <% if current_user.band? && @user.musician? %>
      <% if current_user.profile.member? @user.profile %>>

        <%= link_to fa_icon('user-times'), user_membership_delete_path(user_id: @user.id),
          class:  'option-button-icon option-button btn btn-default col-md-2 gap-right',
          title:"Expulsar del grupo", remote: true %>

      <% else %>

        <%= link_to fa_icon('user-plus'), user_send_membership_path(user_id: @user, from_user: current_user),
          class:  'option-button-icon option-button btn btn-default col-md-2 gap-right',
          title:"Invitar al grupo", remote: true %>

      <% end %>
    <% elsif current_user.musician? && @user.band? %>
      <% if current_user.profile.member? @user.profile %>

        <%= link_to fa_icon('user-times'), user_membership_delete_path(user_id: @user),
          class:  'option-button-icon option-button btn btn-default col-md-2 gap-right',
          title:"Dejar el grupo", remote: true %>

      <% else %>

        <%= link_to fa_icon('user-plus'), user_send_membership_path(user_id: @user, from_user: current_user),
          class:  'option-button-icon option-button btn btn-default col-md-2 gap-right',
          title:"Unirte al grupo", remote: true %>

      <% end %>
    <% end %>
  </div>
</div>
<% end %>
