<div class="well search-form event-search-form">
  <h4 class="well-header">Buscador</h4>

  <%= simple_form_for @search, {url: musicians_path, method: 'get'} do |f| %>
    <%= f.input :name, label: 'Nombre', required: false, placeholder: 'Filtrar por nombre...'  %>

    <%= f.input :location_type, collection: [['city', 'Ciudad'], ['province', 'Provincia'], ['region', 'Comunidad autónoma']],
      value_method: :first, label_method: :last, label: 'Buscar por', required: false, as: :radio_buttons %>

    <%= f.input :city, collection: Address.musicians.cities, label_method: :city,
      value_method: :city, label: 'Localidad', include_blank: true, required: false, as: :select,
      wrapper_class: (@search.location_type != "city" ? 'hidden' : nil) %>

    <%= f.input :province, collection: Address.musicians.provinces, label_method: :province,
      value_method: :province, label: 'Provincia', include_blank: true, required: false, as: :select,
      wrapper_class: (@search.location_type != "province" ? 'hidden' : nil) %>

    <%= f.input :region, collection: Address.musicians.regions, label_method: :region,
      value_method: :region, label: 'Comunidad autónoma', include_blank: true, required: false, as: :select,
      wrapper_class: (@search.location_type != "region" ? 'hidden' : nil) %>

    <div class="form-group"></div>

    <%= f.input :status, collection: MusicianStatus.order(:name), label_method: :name, value_method: :id,
      label: 'Estado', required: false, as: :check_boxes %>

    <%= f.input :instrument, collection: Instrument.order(:name), label_method: :name, value_method: :id,
      label: 'Instrumentos', required: false, as: :check_boxes %>

    <div class="row">
      <div class="col-sm-12">
        <%= f.button :submit, 'Buscar', class: 'btn btn-block btn-primary', data: {"disable-with": "Buscando..." } %>
      </div>
    </div>
  <% end %>
</div>

<%= render 'scripts/search_form_address_behaviour', model: @search.class.to_s.underscore %>
