
<% page_title @page %>

<%= render 'layouts/page_header' %>

<%= simple_form_for( @user, url: user_path(@user), html: { multipart: true} ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <h3>Información básica</h3>
    <%= f.input :name, label: 'Nombre del artista' %>

    <%= f.label 'Imagen de perfil' %> <br>
    <%= image_tag(@user.avatar_url(:s), class: 'box-shadow') if @user.avatar? %>
    <%= f.input :avatar, label: false, as: :file %>

    <h3>Redes sociales</h3>
    <%= f.simple_fields_for :social_networks_set do |sn| %>
      <%= sn.input :website_url, label: (fa_icon 'globe')+" Website" %>
      <%= sn.input :facebook_url, label: (fa_icon 'facebook')+" Facebook" %>
      <%= sn.input :youtube_url, label: (fa_icon 'youtube')+" Youtube" %>
      <%= sn.input :soundcloud_url, label: (fa_icon 'soundcloud')+" Soundcloud" %>
      <%= sn.input :twitter_url, label: (fa_icon 'twitter')+" Twitter" %>
      <%= sn.input :instagram_url, label: (fa_icon 'instagram')+" Instagram" %>
      <%= sn.input :gplus_url, label: (fa_icon 'google-plus')+" Google Plus" %>
    <% end %>

    <h3>Localidad</h3>
    <%= f.input :autocomplete, label: false, name: 'autocomplete',
      placeholder: 'Busca aquí tu localidad...', as: :fake %>
    <div class="well">
      <%= f.simple_fields_for :address do |ad| %>
        <div class="address-inputs">
          <%= ad.input :gaddress, as: :hidden %>
          <%= ad.input :city, label: 'Ciudad', readonly: true,
            placeholder: 'Se rellenará automáticamente al introducir una dirección' %>
          <%= ad.input :municipality, label: 'Municipio', readonly: true,
            placeholder: 'Se rellenará automáticamente al introducir una dirección' %>
          <%= ad.input :province, label: 'Provincia', readonly: true,
            placeholder: 'Se rellenará automáticamente al introducir una dirección' %>
          <%= ad.input :region, label: 'Comunidad autónoma', readonly: true,
            placeholder: 'Se rellenará automáticamente al introducir una dirección' %>
          <%= ad.input :country, label: 'País', readonly: true,
            placeholder: 'Se rellenará automáticamente al introducir una dirección' %>
        </div>
      <% end %>
    </div>

    <h3>Información del <%= @user.type %></h3>

    <% if @user.musician? %>
      <%= f.simple_fields_for :profileable do |p| %>
        <%= p.input :musician_status_id, collection: MusicianStatus.all, as: :select,
          label: 'Estado del músico', include_blank: false %>
      <% end %>
    <% elsif @user.band? %>
      <%= f.simple_fields_for :profileable do |p| %>
        <%= p.input :genre_1_id, collection: Genre.all, label_method: :name, group_value: :id,
          as: :grouped_select, label: 'Género 1' %>
        <%= p.input :genre_2_id, collection: Genre.all, label_method: :name, group_value: :id,
          as: :grouped_select, label: 'Género 2' %>
        <%= p.input :genre_3_id, collection: Genre.all, label_method: :name, group_value: :id,
          as: :grouped_select, label: 'Género 3' %>

        <%= p.input :band_status_id, collection: BandStatus.all, as: :select,
          label: 'Estado del grupo', include_blank: false %>
      <% end %>
    <% end %>

    <%= f.input :bio, label: 'Biografía' %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar", class: 'btn btn-md btn-primary' %>
    <br>
    <%= link_to "Editar datos de registro", edit_user_registration_path, role: 'button', class: 'btn btn-link'  %>
  </div>
<% end %>

<%= render "scripts/city_autocomplete", autocomplete_for: :user %>
