
<% content_for :title, 'Editar cuenta | S.A.M. - Sociedad Anónima Músical' %>

<div class="page-header">
  <h1>Editar cuenta</h1>
</div>

<%= simple_form_for( @user, url: user_path(@user) ) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <h3>Información básica</h3>
    <div class="form-group">
      <div class="form-group">
        <%= f.input :name, label: 'Nombre del artista' %>
      </div>
    </div>

    <h3>Localidad</h3>
    <%= f.input :autocomplete, label: false, name: 'autocomplete',
      placeholder: 'Busca aquí tu localidad...', as: :fake %>

    <div class="well">
      <%= f.input :city, label: 'Ciudad', readonly: true %>
      <%= f.input :state, label: 'Comunidad autónoma', readonly: true %>
      <%= f.input :country, label: 'País', readonly: true %>
    </div>

    <h3>Información del <%= @user.tipo %></h3>

    <% if @user.musician? %>
      <%= f.simple_fields_for :profileable do |p| %>
        <%= p.input :musician_status_id, collection: @musician_statuses, as: :select,
          label: 'Estado del músico', include_blank: false %>
      <% end %>
    <% elsif @user.band? %>
      <%= f.simple_fields_for :profileable do |p| %>
        <%= p.input :genre_1_id, collection: @genres.group_by(&:category),
          group_method: :last, label_method: :name, group_value: :id,
          as: :grouped_select, label: 'Género 1' %>
        <%= p.input :genre_2_id, collection: @genres.group_by(&:category),
          group_method: :last, label_method: :name, group_value: :id,
          as: :grouped_select, label: 'Género 2' %>
        <%= p.input :genre_3_id, collection: @genres.group_by(&:category),
          group_method: :last, label_method: :name, group_value: :id,
          as: :grouped_select, label: 'Género 3' %>

        <%= p.input :band_status_id, collection: @band_statuses, as: :select,
          label: 'Estado del grupo', include_blank: false %>
      <% end %>
    <% end %>

    <%= f.input :bio, label: 'Biografía' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Actualizar", class: 'btn btn-md btn-primary' %>
    <br>
    <%= link_to "Edit user registration", edit_user_registration_path, role: 'button', class: 'btn btn-link'  %>
  </div>
<% end %>

<%= render "scripts/city_autocomplete", autocomplete_for: :user %>
