
<%
page_title @page
%>

<div class="row">
  <div class="col-md-3 text-center">
    <!-- <h3><strong>Buscador de Artistas!</strong></h3> -->
    <%= render 'forms/user_search' %>
  </div>

  <div class="col-md-8">
    <div class="page-header">
      <h1><%= traducir_type @page %></h1>
    </div>

    <% unless @users.blank?  %>
      <% @users.each do |user| %>
        <div class="">
          <h3><%= link_to user.name, user_path(user.id) %> <small><%= user.type %></small></h3>
          <p class="location"><%= user.location %></p>
          <% unless user.bio.blank? %>
          <p class="bio">"<%= user.bio %>"</p>
          <% end %>
        </div>
        <% if user != @users.last %>
          <hr>
        <% end %>
      <% end %>
    <% else %>
      <p>
        Aun no hay usuarios registrados
      </p>
    <% end %>
  </div>
</div>
