
<% page_title @page %>

<div class="row">
  <div class="col-md-3 text-center">
    <%= render 'forms/user_search' %>
  </div>

  <div class="col-md-8">
    <%= render 'layouts/page_header' %>

    <% unless @users.blank?  %>
      <% @users.each do |user| %>
        <div>
          <%= image_tag user.avatar_url(:thumb_s) %>
          <h3><%= link_to user.name, user_path(user.id) %> <small><%= user.type %></small></h3>
          <p class="location"><%= user.location %></p>
          <% unless user.bio.blank? %>
          <p class="bio">"<%= user.bio %>"</p>
          <% end %>
        </div>
        <% if user != @users.last %>
          <hr>
        <% end %>
      <% end %>
    <% else %>
      <p>Ningún usuario cumple los criterios</p>
    <% end %>
  </div>
</div>
