
<% page_title @page %>

<div class="row">
  <div class="col-md-3 text-center">
    <%= render 'forms/user_search' %>
  </div>

  <div class="col-md-8">
    <%= render 'layouts/page_header' %>

    <% unless @users.blank?  %>
      <% @users.each do |user| %>
        <div class="clearfix">
          <%= link_to user_path(user.id) do %>
          <%= image_tag user.index_avatar, alt: user.name,
            class: ['pull-left', 'gap-right', 'gap-bottom', 'image-responsive', 'img-circle', 'box-shadow'] %>
          <% end %>

          <h3><%= link_to user.name, user_path(user.id) %> <small><%= user.type %></small></h3>
          <p class="location text-muted"><%= user.location %></p>
        </div>

          <% unless user.bio.blank? %>
          <p class="bio">"<%= user.bio %>"</p>
          <% end %>
        <% if user != @users.last %>
          <hr>
        <% end %>
      <% end %>
    <% else %>
      <p>Ningún usuario cumple los criterios</p>
    <% end %>
  </div>
</div>
