
<%= simple_form_for @musician, url: user_update_knowledges_path(@user), html: { multipart: true, class: 'form-horizontal'},
  wrapper: 'horizontal_form',
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.error_notification %>

  <div class="form-header row">
    <h3 class="col-sm-offset-1">Instrumentos</h3>
  </div>

  <%= f.simple_fields_for :musician_knowledges do |mk| %>
    <%= mk.association :instrument, label: 'Instrumento', wrapper: :inline_field_4 %>
    <%= mk.association :level, label: 'Nivel', wrapper: :inline_field_3, class: 'col-sm-offset-4' %>
    <%= mk.input :_destroy, as: :boolean, :boolean_style => :inline, label: 'Borrar', wrapper: :field_1 %>
    <hr>
  <% end %>

  <div class="instrument_form_submit">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    <%= f.submit 'Nuevo conocimiento', name: 'add_musician_knowledge', class: 'btn btn-default' %>
  </div>
<% end %>
