<% page_title @page %>

<div class="row">
  <div class="col-md-9">
    <!-- END Video Header -->
    <div class="page-header border">
      <h1><%= @title %></h1>
    </div>
    <!-- END Video Header -->

    <!-- Video Actions -->
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-left">
          <%= link_to new_video_path, class: 'btn btn-primary' do %>
            <%= fa_icon('plus') %> Crear video
          <% end %>
        </div>

        <div class="pull-right">
          <%= link_to :back, class: 'btn btn-default' do %>
            <%= fa_icon('undo') %> Volver
          <% end %>
        </div>
      </div>
    </div>
    <!-- END Video Actions -->

    <!-- Videos -->
    <% @videos.each do |video| %>
      <%= render 'videos/video_container', video: video %>
    <% end %>
    <!-- END Videos -->
  </div>

  <div class="col-md-3">
    <%= render 'videos/user_module' %>
  </div>

</div>
