<% page_title @page %>

<div class="row">
  <div class="col-md-9">
    <!-- END Video Header -->
    <div class="page-header border">
      <h1><%= @title %></h1>
    </div>
    <!-- END Video Header -->

    <!-- Videos count -->
    <div class="videos-count">
      <div class="small page-info text-right">
        <%= page_entries_info @videos, entry_name: (@videos.total_count > 1 ? 'vídeos' : 'vídeo') %>
      </div>
    </div>
    <!-- END Videos count -->

    <!-- Videos -->
    <% no_data = true %>
    <% @videos.each do |video| %>
      <% no_data = false %>
      <%= render 'videos/video_container', video: video %>
    <% end %>

    <% if no_data %>
      <p class="no-data">El usuario no tiene ningún vídeo</p>
    <% end %>
    <!-- END Videos -->

    <!-- Video Actions -->
    <div class="row gap-bottom">
      <div class="col-sm-6">
        <%= link_to fa_icon('plus')+" Crear video", new_video_path, class: 'btn btn-md btn-primary' if is_current_user? %>
        <%= link_to "Volver", :back, class: 'btn btn-md btn-default gap-left' %>
      </div>
      <div class="col-sm-6">
        <div class="pagination-container pull-right">
          <div class="paginator"><%= paginate @videos %></div>
        </div>
      </div>
    </div>
    <!-- END Video Actions -->
  </div>

  <div class="col-md-3">
    <%= render 'videos/user_module' %>
  </div>

</div>
