
<% if @is_user_calendar %>
  <div class="page-header border">
    <h1><%= @title %></h1>
  </div>
<% else %>
  <%= render 'events/search_form' %>
<% end %>

<div class="calendar-container">
  <% @start_date.upto(@finish_date).each do |date| %>
    <% if @is_user_calendar and @calendar.any_event?(date) %>
      <div class="col-sm-12 event-header">
        <h4><%= "#{I18n.localize date, format: :long}" %></h4>
      </div>

      <% @calendar.day(date).each do |event| %>
        <%= render 'events/event_index_row', event: event %>
      <% end %>

    <% else %>

      <% @calendar.day(date).each do |event| %>
        <%= render 'events/event_index_row', event: event %>
      <% end %>

    <% end %>
  <% end %>
</div>
