
<div class="page-header border">
  <h1><%= @title %></h1>
</div>

<!-- Events Month -->
<% unless @is_user_calendar %>
  <div class="row calendar-links">

    <%= link_to fa_icon('chevron-left'), prev_calendar_url,
      class: "calendar-link no-gutter-sm-3" %>

    <div class="calendar-link no-gutter-sm-6">
      <%= calendar_month_header(@start_date) %>
    </div>

    <%= link_to fa_icon("chevron-right"), next_calendar_url,
      class: "calendar-link no-gutter-sm-3" %>
  </div>
<% end %>
<!-- END Events Month -->

<!-- Calendar -->
<table class="table table-bordered table-striped">
  <tbody>
  <% no_data = true %>

  <!-- Calendar Days -->
  <% @start_date.upto(@finish_date).each do |date| %>
    <% if @is_user_calendar %>
      <!-- User Calendar -->
      <% unless @calendar.blank? %>
        <%
          no_data = false
          prev_date = nil
        %>

        <% @calendar.events.each do |event| %>
          <% if event.date == date %>
            <% if date != prev_date %>
              <% prev_date = date %>
              <tr>
                <td class="event-header">
                  <h4><%= calendar_date_header date %></h4>
                </td>
              </tr>
            <% end %>

            <%= render 'events/event_index_row', event: event.decorate %>
          <% end %>
        <% end %>
      <% end %>
      <!-- END User Calendar -->
    <% else %>
      <!-- General Calendar -->
      <% no_data = false %>
      <tr>
        <td class="event-header">
          <h4><%= calendar_date_header date %></h4>
        </td>
      </tr>
      <% if @calendar.any_event?(date) %>
        <% @calendar.day(date).each do |event| %>
          <%= render 'events/event_index_row', event: event.decorate %>
        <% end %>
        <tr>
          <td>
            <%= link_to_new_event date %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td>
            <p>No hay ningún evento para esta fecha</p>
            <%= link_to_new_event date %>
            </td>
        </tr>
      <% end %>
      <!-- END General Calendar -->
    <% end %>
  <% end %>
  <!-- END Calendar Days -->
  </tbody>
</table>
<!-- END Calendar -->


<!-- No data -->
<% if no_data %>
  <div class="no-data">No hay ningún evento que mostrar.</div>
<% end %>
<!-- END No data -->

<div class="pagination-container pull-right">
  <div class="paginator">
    <%= paginate @calendar.events %>
  </div>
</div>

<%= render 'scripts/dotdotdot' %>
