<div class="well search-form event-search-form">
  <h4 class="well-header">Buscador</h4>

  <%= simple_form_for @search, {url: events_path, method: 'get'} do |f| %>
    <%= f.input :name, label: 'Nombre', required: false, placeholder: 'Filtrar por nombre...'  %>

    <% if @is_user_calendar %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :start_date, label: 'Desde', required: false, input_html: {class: 'datepicker'} %>
      </div>
      <div class="col-sm-6">
        <%= f.input :finish_date, label: 'Hasta', required: false, input_html: {class: 'datepicker'} %>
      </div>
    </div>
    <% else %>
      <%= f.input :start_date, label: 'Mes', required: false, discard_day: true,
        default: @start_date, with_css_classes: true, as: :date %>
    <% end %>

    <%= f.input :type, collection: EventType.all, value_method: :id, label_method: :name, required: false,
      label: 'Tipo', as: :check_boxes %>

    <%= f.input :status, collection: EventStatus.all, value_method: :id, label_method: :name,required: false,
      label: 'Estado', as: :check_boxes %>

    <%= f.input :location_type, collection: [['city', 'Ciudad'], ['province', 'Provincia'], ['region', 'Comunidad autónoma']],
      value_method: :first, label_method: :last, label: 'Buscar por', required: false, as: :radio_buttons %>

    <%= f.input :city, collection: Address.events.cities, label_method: :city,
      value_method: :city, label: 'Localidad', include_blank: true, required: false, as: :select %>

    <%= f.input :province, collection: Address.events.provinces, label_method: :province,
      value_method: :province, label: 'Provincia', include_blank: true, required: false, as: :select %>

    <%= f.input :region, collection: Address.events.regions, label_method: :region,
      value_method: :region, label: 'Comunidad autónoma', include_blank: true, required: false, as: :select %>

    <%= f.button :submit, 'Filtrar', class: 'btn btn-sm btn-primary' %>
  <% end %>
</div>

<%= render 'scripts/datepicker' %>
