

<!-- image-show-container -->
<div class="event-show-container">

  <!-- Event Header -->
  <div class="event-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="col-sm-offset-1">
          <%= @title %>
          <span class="text-xs <%= event_status_class @event.status %>"><%= @event.status %></span>
        </h3>
      </div>
    </div>
  </div>
  <!-- END Event Header -->

  <!-- Image -->
  <% if @event.images? %>
  <div class="row">
    <div class="col-sm-12">
      <div class="image-container">
        <%= render "layouts/carousel", images: @event.images %>
      </div>
    </div>
  </div>
  <% end %>
  <!-- END Image -->

  <!-- Event Links -->
  <ul class="list-group image-links">
    <%= link_to fa_icon('chevron-left'), prev_event_url,
      class: "list-group-item event-link no-gutter-sm-3 #{prev_event_active}" %>

    <%= link_to fa_icon("envelope")+" Mensaje", user_path(@user),
      class: 'list-group-item event-link no-gutter-sm-2' %>

    <%= link_to fa_icon("calendar")+" Calendario", user_events_path(user_id: @user.id),
      class: 'list-group-item event-link no-gutter-sm-2' %>

    <%= link_to fa_icon("user")+" Creador", user_path(@user),
      class: 'list-group-item event-link no-gutter-sm-2' %>

    <%= link_to fa_icon("chevron-right"), next_event_url,
      class: "list-group-item event-link no-gutter-sm-3 #{next_event_active}" %>
  </ul>
  <!-- END Event Header -->

  <!-- Event Data -->
  <div class="event-container event-data-container">
    <div class="row page-header border">
      <div class="col-sm-12">
        <h2><%= @event.name%> <small><%= @event.type %></small></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 event-container event-status-container">
        <div class="event-field-header small">Estado</div>
        <div class="event-field-text <%= event_status_class @event.status %>">
          <%= @event.status %>
        </div>
      </div>
      <div class="col-sm-3 event-container event-date-container">
        <div class="event-field-header small">Fecha</div>
        <div class="event-field-text">
          <%= @event.date %>
        </div>
      </div>
      <div class="col-sm-3 event-container event-time-container">
        <div class="event-field-header small">Hora</div>
        <div class="event-field-text">
          <% if @event.time_define? %>
            <%= @event.time %>
          <% else %>
            <%= @event.no_time %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3 event-container event-prize-container">
        <div class="event-field-header small">Precio</div>
        <div class="event-field-text">
          <% if @event.pvp_define? %>
            <%= @event.pvp %> €
          <% else %>
            <%= @event.no_pvp %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="event-container event-location-container">
      <div class="row">
        <div class="col-sm-12">
          <div class="event-field-header small">Dirección</div>
          <div class="event-field-text event-location-text">
            <address><%= @event.complete_location %></address>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="event-field-header small">Participantes</div>
        <div class="event-field-text">
          <% if @event.max_participants_define? %>
            <%= @event.participants_count %>
          <% else %>
            <%= @event.unlimited_participants %>
          <% end %>

          <% if @event.can_participate? and !is_creator? %>
            <br>
            <%= link_to fa_icon("plus")+" Participar", participant_request_events_path(event_id: @event.id),
              remote: true, class: "" %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-4 col-sm-offset-1">
        <% if @event.participants? %>
          <div class="panel panel-default">
            <div class="panel-heading"><strong>Participantes</strong></div>
            <table class="table table-bordered table-hover table-condensed">
              <tbody>
              <% @event.participants.decorate.each do |participant| %>
                <tr>
                  <td>
                    <%= link_to user_path(participant) do %>
                      <%= image_tag participant.thumb_xs_avatar, alt: participant.name, class: 'img-border' %>
                    <% end %>

                    <%= link_to participant.name, user_path(participant), class: 'btn btn-link' %>
                    <%= link_to fa_icon("times"), event_participant_destroy_path(event_id: @event.id, id: participant.id),
                      remote: true, class: 'btn btn-link' if is_creator? or participant == current_user %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Event Description -->
    <div class="row">
      <div class="col-sm-12">
        <div class="event-container event-description-container">
          <div class="event-field-header">Descripción</div>
          <div class="event-description"><%= @event.description %></div>
        </div>
      </div>
    </div>
    <!-- END Event Description -->
  </div>
  <!-- END Event Data -->


  <!-- Event Links -->
  <% if is_current_user? %>
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group event-author-links">
        <%= link_to fa_icon("pencil")+" Editar", edit_event_path(@event),
          class: 'list-group-item event-author-link' %>

        <%= link_to fa_icon("trash")+" Eliminar", event_delete_path(event_id: @event.id),
          remote: true, class: 'list-group-item event-author-link' %>
      </ul>
    </div>
  </div>
  <% end %>
  <!-- END Event Links -->
</div>
