<% page_title @page %>

<div class="row">
  <div class="col-md-3 event-index-right">
    <%= render 'events/search_form' %>
  </div>

  <div class="<%= "col-md-#{ @is_user_calendar ? 6 : 7}" %>">
    <%= render 'events/index' %>
  </div>

  <div class="<%= "col-md-#{ @is_user_calendar ? 3 : 2}" %> event-index-right">
    <% if @is_user_calendar %>
      <%= render "events/user_module" %>
    <% else %>
      <%= render 'events/index_right' %>
    <% end %>
  </div>
</div>
