
<% page_title @page %>

<%= render 'layouts/page_header' %>
<p>
  <%= @event.event_type.name %> | <%= @event.event_status.name %> | <%= @event.date %> <%= @event.time.to_formatted_s(:time) %>
</p>
<p>
  <%= link_to 'Editar evento', edit_event_path(@event) if @event.creator_id = current_user %>
</p>
<p>
  <%= @event.description %>
</p>

<div class="">
  <% unless @event_image.blank? %>
    <%= image_tag @event_image.image_url(:thumb), class: ['img-responsive'] %>
  <% end %>
</div>
