<%= simple_form_for @band, wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :genre_1_id, collection: @genres.group_by(&:category),
      group_method: :last, label_method: :name, group_value: :id,
      as: :grouped_select, label: 'Género 1', wrapper: :horizontal_file_input %>
    <%= f.input :genre_2_id, collection: @genres.group_by(&:category),
      group_method: :last, label_method: :name, group_value: :id,
      as: :grouped_select, label: 'Género 2', wrapper: :horizontal_file_input %>
    <%= f.input :genre_3_id, collection: @genres.group_by(&:category),
      group_method: :last, label_method: :name, group_value: :id,
      as: :grouped_select, label: 'Género 3', wrapper: :horizontal_file_input %>

    <%= f.simple_fields_for :user do |u| %>
      <%= u.input :bio, label: 'Biografía' %>
    <% end %>

    <%= f.input :band_status_id, collection: @band_statuses, as: :select,
      label: 'Estado del grupo', wrapper: :horizontal_file_input %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
