<p id="notice"><%= notice %></p>

<p>
  <strong>Genre 1:</strong>
  <%= @band.genre_1_id %>
</p>

<p>
  <strong>Genre 2:</strong>
  <%= @band.genre_2_id %>
</p>

<p>
  <strong>Genre3:</strong>
  <%= @band.genre_3_id %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
