
<% page_title @page %>

<%= render 'layouts/page_header' %>

<%= simple_form_for( resource, as: resource_name, url: password_path(resource_name),
  html: { method: :put, class: 'form-horizontal' }, wrapper: :horizontal_form ) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>

  <div class="form-inputs">
    <%= f.full_error :reset_password_token %>
  </div>

  <div class="form-inputs">
    <%= f.input :password, label: "Nueva contrase침a", required: true, autofocus: true,
      hint: ("#{@minimum_password_length} caracteres o m치s" if @minimum_password_length),
      wrapper: :field_3 %>
    <%= f.input :password_confirmation, label: "Repite la contrase침a", required: true,
      wrapper: :field_3 %>
  </div>

  <div class="form-actions col-sm-5">
    <div class="row">
      <div class="col-sm-12">
        <%= f.button :submit, "Restablecer contrase침a", class: 'btn btn-primary btn-block' %>
      </div>
    </div>

    <%= render "users/shared/links" %>
  </div>
<% end %>
