
<%= simple_form_for :search, url: users_path, method: 'get', enforce_utf8: false, html: {class: "form-vertical text-left", role: "form"} do |f| %>
  <div class="form-inputs">

    <h3>BUSCADOR</h3>

    <div class="well">

      <%= f.input :name, label: 'Nombre de usuario', placeholder: 'Filtrar por nombre...', required: false,
        input_html: { value: ( fill_input :search, :name ) } %>

      <%= f.input :location, label: 'Ubicación', placeholder: 'Filtrar por ciudad, comunidad...', required: false,
        input_html: { value: ( fill_input :search, :location ) } %>

      <%= f.input :profileable_type, collection: [['Musician', 'Músico'] ,['Band', 'Grupo']],
        value_method: :first, label_method: :last, label: 'Tipo de usuario', required: false, include_blank: 'Cualquiera',
        selected: ( fill_input :search, :profileable_type ) %>

      <% if !params[:search].blank? && params[:search][:profileable_type] == 'Band' %>
        <%= f.input :genre_id, collection: Genre.all, label_method: :name, group_value: :id,
          as: :grouped_select, label: 'Género', required: false %>
      <% elsif !params[:search].blank? && params[:search][:profileable_type] ==  'Musician' %>
        <%= f.input :instrument_id, collection: Instrument.all,
          label_method: :name, value_method: :id,
          as: :select, label: 'Instrument', required: false %>
      <% end %>

      <div class="form-actions">
        <%= f.button :submit, "Buscar", class: 'btn btn-small btn-primary' %>
      </div>
    </div>

  </div>

<% end %>
