
<%= simple_form_for :search, url: users_path, method: 'get', enforce_utf8: false, html: {class: "form-vertical text-left", role: "form"} do |f| %>
  <div class="form-inputs">

    <h2>BUSCADOR</h2>

    <div class="well">

      <%= f.input :name, label: 'Nombre de usuario', placeholder: 'Filtrar por nombre...', required: false,
        input_html: { value: ( fill_search_input :name ) } %>

      <%= f.input :location, label: 'Ubicación', placeholder: 'Filtrar por ciudad, comunidad...', required: false,
        input_html: { value: ( fill_search_input :location ) } %>

      <%= f.input :profileable_type, collection: [['Musician', 'Músico'] ,['Band', 'Grupo']],
        value_method: :first, label_method: :last, label: 'Tipo de usuario', required: false,
        include_blank: 'Cualquiera', selected: ( fill_search_input :profileable_type ) %>

      <% if !search_blank? && search_param(:profileable_type) == 'Band' %>
        <%= f.input :genre_id, collection: Genre.all, label_method: :name, value_method: :id,
          label: 'Género', required: false %>
      <% elsif !search_blank? && search_param(:profileable_type) ==  'Musician' %>
        <%= f.input :instrument_id, collection: Instrument.all,
          label_method: :name, value_method: :id,
          as: :select, label: 'Instrumento', required: false %>
      <% end %>

      <div class="form-actions">
        <%= f.button :submit, "Buscar", class: 'btn btn-small btn-primary' %>
      </div>
    </div>

  </div>

<% end %>
