<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :titulo %>
    <%= f.association :user %>
    <%= f.input :cuerpo %>
    <%= f.input :publicado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
