
<% content_for :title, "#{@post.title} | S.A.M. - Sociedad Anónima Músical" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @post.cuerpo %>
</p>

<p>
  <strong>Publicado:</strong>
  <%= @post.publicado %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
