<% page_title @page %>

<div class="row">
  <div class="col-md-3">
    <%= render 'left' %>
  </div>

  <div class="col-md-9">
    <!-- image-show-container -->
    <div class="image-show-container">

      <!-- Image Header -->
      <div class="image-header">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="col-sm-offset-1"><%= @title %></h3>
          </div>
        </div>
      </div>
      <!-- END Image Header -->

      <!-- Imágenes totales -->
      <div class="images-count col-sm-12">
        <div class="small page-info text-right">
          <%= page_entries_info @images, entry_name: (@images.total_count > 1 ? 'imágenes' : 'imagen') %>
        </div>
      </div>
      <!-- END Imágenes totales -->

      <!-- Image Thumbnail -->
      <div class="row">
        <div class="images-index-container">
          <% @images.order(id: :desc).decorate.each do |image| %>
            <%= render 'images/image_thumb', image: image %>
          <% end %>
        </div>
      </div>
      <!-- END Image Thumbnail -->

    </div>
    <!-- END image-show-container -->

    <!-- Images Actions -->
    <div class="image-index-actions col-sm-12">
      <%= link_to fa_icon('plus')+" Nueva Imagen", new_image_path,
        class: 'btn btn-md btn-primary image-index-action' if is_current_user? %>
      <%= link_to "Volver", user_path(@user), class: 'btn btn-md btn-default image-index-action' %>

      <div class="pagination-container pull-right">
        <div class="paginator"><%= paginate @images %></div>
      </div>
    </div>
    <!-- END Images Actions -->
  </div>
</div>

<%= render 'scripts/dotdotdot' %>
