<% page_title @page %>

<div class="row">
  <div class="col-md-3">
    <%= render 'left' %>
  </div>

  <div class="col-md-9">
    <!-- image-show-container -->
    <div class="image-show-container">

      <!-- Image Header -->
      <div class="image-header">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="col-sm-offset-1"><%= @title %></h3>
          </div>
        </div>
      </div>
      <!-- END Image Header -->

      <!-- Imágenes totales -->
      <div class="images-count col-sm-12">
        <div class="small page-info text-right">
          <%= page_entries_info @images %> <%= @images.total_count > 1 ? 'imágenes' : 'imagen' %>
        </div>
      </div>
      <!-- END Imágenes totales -->

      <!-- Image Thumbnail -->
      <div class="row">
        <div class="images-index-container">
          <% @images.order(id: :desc).decorate.each do |image| %>
          <div class="col-sm-2">
            <div class="image-index-thumb">
              <%= link_to user_image_path(user_id: @user.id, id: image.id), title: image.title do %>
                <%= image_tag image.image_url(:thumb_lg), alt: image.title, class: 'img-responsive' %>
              <% end %>

              <div class="image-index-title">
                <div class="row">
                  <div class="col-sm-12 text-center text-ellipsis">
                    <%= link_to image.title, user_image_path(user_id: @user.id, id: image.id), class: 'link-black' %>
                  </div>
                </div>
              </div>

              <% if current_user? %>
                <div class="image-index-links">
                  <div class="no-gutter">
                    <div class="no-gutter-sm-6 text-center">
                      <%= link_to fa_icon('pencil'), edit_image_path(image), class: 'btn btn-link btn-sm' %>
                    </div>
                    <div class="no-gutter-sm-6 text-center">
                      <%= link_to fa_icon('trash'), user_image_path(user_id: @user, id: image.id),
                        class: 'image-delete btn btn-link btn-sm', remote: true %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <!-- END Image Thumbnail -->

    </div>
    <!-- END image-show-container -->
    <div class="image-index-actions col-sm-12">
      <%= link_to fa_icon('plus')+" Nueva Imagen", new_image_path,
        class: 'btn btn-md btn-primary image-index-action' if is_current_user? %>
      <%= link_to "Volver", user_path(@user), class: 'btn btn-md btn-default image-index-action' %>

      <div class="pagination-container pull-right">
        <div class="paginator"><%= paginate @images %></div>
      </div>
    </div>
  </div>
</div>
