<footer class="footer">
  <div class="container">
    <div class="row">

      <!-- LOGO -->
      <div class="col-md-offset-1 col-md-2">
        <a href="/"  title="Sociedad Anónima Musical">
          <div class="footer-logo">
          </div>
        </a>
      </div>
      <!-- FIN LOGO -->

      <!-- CONTACTO -->
      <div class="col-md-2">
        <ul class="contacto" >
          <li class="list-header">Contacto</li>
          <li><%= link_to fa_icon('envelope', class: 'fa-footer')+" Email ", '#' %></li>
          <li><%= link_to fa_icon('twitter', class: 'fa-footer')+" Twitter ", '#' %></li>
          <li><%= link_to fa_icon('facebook', class: 'fa-footer')+" Facebook ", '#' %></li>
        </ul>
      </div>
      <!-- FIN CONTACTO -->

      <!-- ENLACES -->
      <div class="col-md-2">
        <ul class="enlaces" >
          <li class="list-header">Enlaces</li>
          <li><%= link_to "Contactar", '#' %></li>
          <li><%= link_to "F.A.Q.", '#' %></li>
          <li><%= link_to "Acceder", '#' %></li>
          <li><%= link_to "Registrarse", '#' %></li>
          <li><%= link_to "Mapa web", '#' %></li>
        </ul>
      </div>
      <!-- FIN ENLACES -->

      <!-- SECCIONES -->
      <!-- <div class="col-md-2">
        <ul class="secciones" >
          <li class="list-header">Secciones</li>
          <li><%= link_to 'Entrevistas', '#' %></li>
          <li><%= link_to 'Concursos', '#' %></li>
          <li><%= link_to 'Reportajes', '#' %></li>
          <li><%= link_to 'Artículos', '#' %></li>
          <li><%= link_to 'Tutoriales', '#' %></li>
        </ul>
      </div> -->
      <!-- FIN SECCIONES -->

      <!-- CONTENIDO -->
      <div class="col-md-2">
        <ul class="contenido" >
          <li class="list-header">Contenido</li>
          <li><%= link_to 'Usuarios', users_path %></li>
          <li><%= link_to 'Calendario', '#' %></li>
          <!-- <li><%= link_to 'Anuncios', '#' %></li> -->
        </ul>
      </div>
      <!-- FIN CONTENIDO -->
    </div>

  </div>
</footer>
