<li class="dropdown <%= active_page 'posts' %>">

<!-- CONTENIDOS -->
  <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    Contenidos <i class="caret"></i>
  </a>
  <ul class="dropdown-menu">
    <li class="header-dropdown-separator">Secciones</li>
    <li><%= link_to 'Imágenes', '#' %></li>
    <li><%= link_to 'Videos', '#' %></li>
    <li><%= link_to 'Canciones', '#' %></li>
  </ul>
</li> -->
<!-- END CONTENIDOS -->

<!-- USUARIOS -->
<li class="dropdown <%= active_page 'users' %>">
  <a href="/users" class="dropdown-toggle" data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    Usuarios <i class="caret"></i>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Músicos', musicians_path %></li>
    <li><%= link_to 'Grupos', bands_path %></li>
  </ul>
</li>
<!-- END USUARIOS -->

<!-- EVENTOS -->
<li class="dropdown <%= active_page 'events' %>">

  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    Eventos <i class="caret"></i>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Calendario', events_path %></li>
    <li><%= link_to 'Nuevo evento', new_event_path %></li>
  </ul>
</li>
<!-- END EVENTOS -->
