<li class="dropdown <%= active_page 'posts' %> <%= active_page 'salas' %> <%= active_page 'rehearsal_studios' %>">

<!-- CONTENIDOS -->
  <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    Contenidos <i class="caret"></i>
  </a>
  <ul class="dropdown-menu">
    <li class="header-dropdown-separator">Secciones</li>
    <li><%= link_to 'Entrevistas', '#' %></li>
    <li><%= link_to 'Concursos', '#' %></li>
    <li><%= link_to 'Reportajes', '#' %></li>
    <li><%= link_to 'Artículos', '#' %></li>
    <li><%= link_to 'Tutoriales', '#' %></li>
    <li class="header-dropdown-separator">Opiniones</li>
    <li><%= link_to 'Salas', '#' %></li>
    <li><%= link_to 'Locales de Ensayo', '#' %></li>
  </ul>
</li> -->
<!-- FIN CONTENIDOS -->

<!-- ANUNCIOS -->
<!-- <li class="dropdown <%= active_page 'ads' %>">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    Anuncios <i class="caret"></i>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Músico busca músico', '#' %></li>
    <li><%= link_to 'Músico busca grupo', '#' %></li>
    <li><%= link_to 'Grupo busca músico', '#' %></li>
    <li><%= link_to 'Grupo busca grupo', '#' %></li>
  </ul>
</li> -->
<!-- FIN ANUNCIOS -->

<!-- USUARIOS -->
<li class="dropdown <%= active_page 'users' %>">
  <a href="/users" class="dropdown-toggle" data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    Usuarios <i class="caret"></i>
  </a>
  <ul class="dropdown-menu">
    <!-- <li><%= link_to 'Músicos', users_path(search: {profileable_type: 'Musician'}) %></li>
    <li><%= link_to 'Grupos', users_path(search: {profileable_type: 'Band'}) %></li> -->
    <li><%= link_to 'Músicos', musicians_path %></li>
    <li><%= link_to 'Grupos', bands_path %></li>
  </ul>
</li>
<!-- FIN USUARIOS -->

<!-- EVENTOS -->
<li class="dropdown <%= active_page 'events' %>">

  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    Eventos <i class="caret"></i>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'Calendario', events_path %></li>
    <li><%= link_to 'Nuevo evento', new_event_path %></li>
  </ul>
</li>
<!-- FIN EVENTOS -->
