<!DOCTYPE html>
<html>
<head>
  <title>Sam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCC-aMR5J1L4VSgwbCRxYjM-55oZlNTMPw&signed_in=true&language=es&libraries=places", async: true, defer: true, 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <% if user_signed_in? %>
      <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
      <li><%= link_to 'Log Out', destroy_user_session_path, method: 'delete' %></li>
    <% else %>
      <li><%= link_to 'Log In', new_user_session_path %></li>
      <li><%= link_to 'Sign In', new_user_registration_path %></li>
    <% end %>
  </ul>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
