<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['YOUTUBE_API_KEY']}&signed_in=true&language=es&libraries=places",
    async: true, defer: true, 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if page? 'site' %>
    <%= yield %>
  <% else %>
    <%= render "layouts/top_menu" %>

    <div class="container main">
      <%= render "layouts/alerts" %>

      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
  <% end %>
</body>
</html>
