<!-- <%= simple_form_for @member, url: {action: :delete_member, controller: :members}, remote: true do |f| %> -->
  <div class="modal-body">
    <%= message %>

    <!-- <%= f.input :id, as: :hidden %>
    <div class="form-group hidden type">
      <input id="type" value="delete" class="hidden form-control" name="type" type="hidden">
    </div> -->
  </div>

  <div class="clearfix gap-top gap-bottom"></div>

  <div class="modal-footer">
    <%= link_to 'Eliminar', @member, method: :delete, class: "btn btn-primary btn-md btn-block",
      data: {"disable-with": "Eliminando..." } %>
    <!-- <%= f.submit 'Eliminar', class: "btn btn-primary btn-md btn-block" %> -->
  </div>
<!-- <% end %> -->
