<%= simple_form_for @member, wrapper: 'horizontal_form', html: { class: 'form-horizontal'},
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  } do |f| %>
  <%= f.input :id, as: :hidden %>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-2  col-sm-offset-1">
        <%= image_tag @member_user.index_avatar, alt: @member_user.name, class: 'img-responsive' %>
      </div>
      <div class="col-sm-8">
        <row><h2><%= link_to @member_user.name, @member_user %></h2></row>
        <row><%= @member.instruments_names %></row>
      </div>
    </div>
    <hr>
    <div class="row gap-bottom">
      <div class="col-sm-12 gap-bottom">
        <%= message %>
      </div>
    </div>

    <div id="member_instruments">
      <%= f.simple_fields_for :member_instruments do |mi| %>
        <%= render "edit_member_instruments_fields", f: mi %>
      <% end %>

      <div class="row links gap-left">
        <%= link_to_add_association 'Añadir instrumentos', f, :member_instruments,
          partial: 'edit_member_instruments_fields' %>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <%= f.submit 'Actualizar', class: "btn btn-primary btn-md btn-block" %>
  </div>
<% end %>
