<%= simple_form_for @member, url: members_send_path, remote: true do |f| %>
  <div class="modal-body">
    <%= f.input :band_id, as: :hidden %>
    <%= f.input :musician_id, as: :hidden %>
    
    <%= f.association :instrument, collection: Instrument.all.order(:name),
      label: 'Instrumento', prompt: 'Elige un instrumento',
      order: 'name', wrapper: :field_5_offset_2_label_3 %>
  </div>

  <div class="clearfix gap-top gap-bottom"></div>

  <div class="modal-footer">
    <%= f.submit 'Enviar petición', class: "btn btn-primary btn-md btn-block" %>
  </div>
<% end %>
