<div id="member-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= title %></h4>
      </div>

      <div class="col-sm-12">
        <div class="gap-right gap-top gap-left gap-bottom">
          Se va a enviar una petición a
          <%= @member.band.user == current_user ? @member.musician.user.name : @member.band.user.name %>
          para formar parte de su grupo. ¿Con qué instrumento desea incorporarse?
        </div>
      </div>

      <%= simple_form_for @member, action: :send_request_message, controller: :members, remote: true do |f| %>
        <div class="modal-body">
          <%= f.input :band, as: :hidden %>
          <%= f.input :musician, as: :hidden %>

          <%= f.association :instrument, collection: Instrument.all.order(:name),
            label: 'Instrumento', prompt: 'Elige un instrumento',
            order: 'name', wrapper: :field_5_offset_2_label_3 %>
        </div>

        <div class="clearfix gap-top gap-bottom"></div>

        <div class="modal-footer">
          <%= f.submit 'Enviar petición', class: "btn btn-primary btn-md btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
