<% page_title @page %>

<%= render 'layouts/page_header' %>

<div class="form-signup">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
    html: { multipart: true} ) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, placeholder: 'Introduce tu email' %>
      <%= f.input :password, label: 'Contraseña', required: true,
        placeholder: ("#{@minimum_password_length} caracteres mínimos" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: 'Confirma tu contraseña', required: true %>
      <%= f.input :name, label: 'Nombre de usuario', required: true,
        placeholder: 'Nombre con el que te verán el resto de usuarios' %>

      <div class="well">
        <%= f.simple_fields_for :address do |ad| %>
          <%= ad.input :autocomplete, label: 'Localidad', name: 'autocomplete',
           placeholder: 'Busca aquí tu localidad...', as: :fake %>

          <div class="address-inputs">
            <%= ad.input :gaddress, as: :hidden %>
            <%= ad.input :city, label: 'Ciudad', readonly: true,
              placeholder: 'Se rellenará automáticamente al introducir una dirección' %>
            <%= ad.input :municipality, label: 'Municipio', readonly: true,
              placeholder: 'Se rellenará automáticamente al introducir una dirección' %>
            <%= ad.input :province, label: 'Provincia', readonly: true,
              placeholder: 'Se rellenará automáticamente al introducir una dirección' %>
            <%= ad.input :region, label: 'Comunidad autónoma', readonly: true,
              placeholder: 'Se rellenará automáticamente al introducir una dirección' %>
            <%= ad.input :country, label: 'País', readonly: true,
              placeholder: 'Se rellenará automáticamente al introducir una dirección' %>
          </div>
        <% end %>
      </div>

      <%= f.input :avatar, label: 'Imagen de perfil', as: :file %>

      <div class="form-group required profileable_type">
        <%= f.label :profileable_type, 'Tipo de usuario', required: true, class: 'radio required control-label' %>

        <div class="btn-group" data-toggle="buttons">
          <label for="user_profileable_type_musician" class="btn btn-default active">
            <input id="user_profileable_type_musician" value="Musician" name="user[profileable_type]"
              type="radio" checked='checked'>
            Músico
          </label>
          <label for="user_profileable_type_band" class="btn btn-default">
            <input id="user_profileable_type_band" value="Band" name="user[profileable_type]" type="radio">
            Grupo
          </label>
        </div>
      </div>
      <!-- <%= f.input :profileable_type, as: :radio_buttons,
        collection: [['Musician', 'Músico'] ,['Band', 'Grupo']], value_method: :first,
        label_method: :last, required: true, label: 'Tipo de Perfil',
        checked: 'Musician' %> -->

    </div>

    <div class="form-actions">
      <%= f.button :submit, "Registrarte", class: 'btn btn-md btn-primary' %>
    </div>

    <%= render "users/shared/links" %>
  <% end %>
</div>

<%= render "scripts/city_autocomplete", autocomplete_for: resource_name %>
